<% layout("layouts/boilerplate") %>

<div class="row mt-5">
  <div class="alert alert-danger col-6 offset-3 text-center" role="alert">
    <h5><%= err.message || "Something went wrong!" %></h5>
    <% if (err.stack) { %>
      <pre class="text-start mt-3"><%= err.stack %></pre>
    <% } %>
  </div>
</div>
